.input {
  .form {
    margin: 24px 8px;

    label {
      display: block;
      margin-bottom: 6px;
      font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium',
        meiryo, sans-serif;
    }

    input {
      -webkit-appearance: none;
      display: block;
      width: calc(100% - 20px - 2px);
      margin: 0 0 16px;
      padding: 8px 10px;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      color: #333;
      font-size: 16px;
      line-height: 1.6;
      font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium',
        meiryo, sans-serif;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus {
        border: solid 1px rgba(204, 148, 37, 1);
        box-shadow: 0 0 0 0.2rem rgba(204, 148, 37, 0.25);
        outline: 0;
      }

      &:active {
        border: solid 1px rgba(204, 148, 37, 1);
      }
    }

    .code {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      input {
        margin: 0;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0.25rem 0 0 0.25rem;
        font-size: 16px;
        line-height: 1.6;

        & + button {
          display: block;
          padding: 8px 10px;
          border-top: 1px solid #ccc;
          border-left: none;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          border-radius: 0 0.25rem 0.25rem 0;
          font-size: 16px;
          line-height: 1.6;
          background: #eee;
          box-sizing: border-box;
          white-space: nowrap;
          cursor: pointer;

          &:focus {
            border: solid 1px rgba(204, 148, 37, 1);
            box-shadow: 0 0 0 0.2rem rgba(204, 148, 37, 0.25);
            outline: 0;
          }

          &[disabled] {
            color: #ccc;

            &:hover {
              background: #eee;
              color: #ccc;
            }
            &:active {
              background: #eee;
              color: #ccc;
            }
          }
        }
      }
    }
  }
}
