.confirm {
  .form {
    margin: 24px 8px;

    & > div {
      margin-bottom: 16px;

      label {
        display: block;
        margin-bottom: 8px;
        color: #666;
        font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
          '游ゴシック Medium', meiryo, sans-serif;
      }

      p {
        margin: 0;
        font-size: 1.2em;
        font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
          '游ゴシック Medium', meiryo, sans-serif;
      }

      .err {
        color: #b60005;
        font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
          '游ゴシック Medium', meiryo, sans-serif;
      }
    }
  }

  a.policy {
    display: inline-block;
    color: #666;

    &:hover {
      color: #333;
    }
  }
}
