.confirm {
  .form {
    margin: 24px;

    & > div {
      margin-bottom: 16px;

      label {
        display: block;
        margin-bottom: 8px;
        font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
          '游ゴシック Medium', meiryo, sans-serif;
      }

      p {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
          '游ゴシック Medium', meiryo, sans-serif;
      }
    }
  }

  .button {
    &.confirm {
      margin: 24px 24px 96px;
    }
  }
}
